includes:
    - phpstan-baseline.neon
    - phpstan-game-baseline.neon
    - phpstan-player-baseline.neon

parameters:
    level: 6
    paths:
        - app/Admin
        - app/Common
        - app/Health
        - app/Question
        - app/Ai
        - app/Auth
        - app/Game
        - tests
    tmpDir: runtime/phpstan
    treatPhpDocTypesAsCertain: false
